.SlidePhoto {

    text-align: center;
}

img {
    height: 150px;
}

.box1 {
    width: 370px;
    margin: auto;
}

.minibox {
    width: 35%;
    margin: auto;
}

.head_car {
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}